# Custom PyTorch Pipeline Configuration

# Dataset Configuration
dataset:
  root_dir: "patches_dataset/patches_dataset_unmasked"
  train_dir: "train"
  val_dir: "val"
  test_dir: "test"
  input_size: 224
  batch_size: 32
  num_workers: 4
  
# Class Configuration
classes:
  names: [] # Use classes.txt
  num_classes: 2
  class_weights: [1.0, 1.0]  # Weighted loss for imbalance

# Model Configuration
model:
  name: "convnextv2_large"
  pretrained: True
  drop_path_rate: 0.1
  in_chans: 3

# Training Configuration
training:
  epochs: 50
  learning_rate: 1e-4
  weight_decay: 1e-4
  warmup_epochs: 5
  min_lr: 1e-6
  
  # Preprocessing Features
  use_bg_masking: true
  use_fda: false
  use_hist_norm: false


  # Augmentations 
  augmentation:
    horizontal_flip: 0.0
    vertical_flip: 0.0
    rotation: 0.
    brightness: 0.0
    contrast: 0.0
    saturation: 0.0
    hue: 0.00
    
    # Advanced Augmentations
    mixup:
      enabled: false
      alpha: 0.2
      beta: 0.2
    
    cutmix:
      enabled: false
      alpha: 1.0
    
    randaugment:
      enabled: true
      n: 1
      m: 5
    
    color_jitter:
      enabled: true
      brightness: 0.5
      contrast: 0.1
      saturation: 0.1
      hue: 0.05
  
  
  # Training Options
  freeze_backbone: True
  use_amp: true
  gradient_clip: 1.0
  
# Inference Configuration
inference:
  threshold: 0.7
  
# Paths Configuration
paths:
  tao_weights: "../pretrained_models/pretrained_convnextv2_vconvnextv2_large_v1.0/convnextv2_large_trainable_v1.0.pth"
  output_dir: "outputs"
  log_dir: "logs"
  checkpoint_dir: "checkpoints"
  visualization_dir: "visualizations"

# Logging Configuration
logging:
  log_interval: 10
  save_interval: 5
  eval_interval: 2

#background_masking parameters
background_masking:
    cg_mask_json: "mask/cg_mask_label.json"    # For CG images (cg_*.png)
    real_mask_json: "mask/real_mask_label.json"  # For real images (real_*.png)

# FDA Parameters
fda:
  beta_range: [0.1, 0.4]
  reference_dir: 'dataset/train/NG/real_1_7000_0.png'
  filename_filter: 'cg_'  # Only apply FDA to images starting with this prefixzz
  
# Hardware Configuration
hardware:
  device: "cuda"
  mixed_precision: true

# CoordConv Configuration
coordconv:
  enabled: true          # Set to true to enable CoordConv
  grid_rows: 41           # Total rows in patch grid 
  grid_cols: 47           # Total columns in patch grid